# Environment variables used within the docker-compose.yml file for docker environment.

# User Github and email, useful when one needs git control inside the container.
GITHUB_USERNAME=
GITHUB_EMAIL=

# The UID (linux only) of the user that owns the project.
# This is used to change the www-data user's id inside the php container,
# in order to change the permissions of the project,
# helping with the php-fpm config(see ./config/packages/dev/docker/php/php-fpm.d/www.conf).
# Find out your UID by typing in your shell "id" and looking for "uid".
SYSTEM_UID=
