.dashboard {
  width: 100%;
  height: calc(100% - 50px);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  > div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .navigation {
    flex-grow: 3;
    flex-basis: 0;
    border-right: 1px solid $borderColor;

    align-items: center;

    ul {
      list-style-type: none;
      margin-top: 15px;
      padding: 0;
      width: 100%;
    }

    li {
      text-align: center;

      a {
        display: block;
        color: $white;
        padding: 16px 16px;
        text-decoration: none;
      }
    }

    li a:hover {
      background-color: $hoverBackgroundColor;
      color: $hoverColor;
      font-weight: 600;
    }
  }

  .logins {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 4;

    /**
    Hide scrollbar styles.
     */
    // Firefox
    scrollbar-width: none;
    // IE 10+
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: 0;
      // Chrome/Safari/Webkit
      background: transparent;
    }

    border-right: 1.5px solid $borderColor;

    .logins-container {

      .login {
        display: flex;
        align-items: center;

        height: 80px;
        border-bottom: 1px solid $borderColor;

        > div {
          margin: 20px;

          img {
            width: 25px;
          }
        }

        p {
          margin: 20px;
        }

        &:hover {
          background-color: $hoverBackgroundColor;
        }
      }
    }
  }

  .account {
    flex-grow: 10;
    flex-basis: 0;
    display: block;
    text-align: center;
    padding-top: 50px;

    form {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      width: 85%;

      label {
        display: block;
        margin: 50px 0;

        span, input, textarea {
          color: $accountWhite;
        }

        input, textarea {
          display: block;
          margin: 5px 0;
          padding: 4px;
          width: 100%;

          border: 0;
          outline: 0;
          background: $black;
          border-bottom: 1px solid $white;
        }

        input, textarea {
          font-size: 18px;
          font-family: $fontFamily;
        }
      }
    }
  }
}
