* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $black;
  color: $white;
  font-family: 'STIX Two Math', serif;
  font-size: 18px;

  #app {
    width: 100vw;
    height: 100vh;
    overflow: auto;

    .head {
      border: 1px solid white;
      width: 100%;
      height: 50px;

      img {
        width: 35px;
        margin: 5px 5px 5px 50px;
      }
    }

    .dashboard {
      width: 100%;
      height: calc(100% - 50px);

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      > div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
      }

      .navigation {
        flex-grow: 3;
        flex-basis: 0;
        border: 1px solid red;

        align-items: center;

        ul {
          list-style-type: none;
          margin-top: 15px;
          padding: 0;
          width: 100%;
        }

        li {
          text-align: center;

          height: 50px;
          line-height: 50px;

          a {
            display: block;
            color: $white;
            //padding: 16px 16px;
            text-decoration: none;
          }
        }

        li a:hover {
          background-color: #232323;
          color: #ffffff;
          font-weight: 600;
        }
      }

      .logins {
        flex-grow: 4;

        border: 1px solid blue;
      }

      .login {
        border: 1px solid green;
        //justify-content: flex-end;
        flex-grow: 10;
        flex-basis: 0;

        form {
          width: 25%;
          display: inline-block;

          input, textarea {
            width: 100%;
            margin: 8px;
          }
        }
      }
    }
  }
}
