* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $black;
  color: $white;
  font-size: 18px;

  #app {
    width: 100vw;
    height: 100vh;
    overflow: auto;

    .head {
      border: 1px solid white;
      width: 100%;
      height: 50px;
    }

    .dashboard {
      width: 100%;
      height: calc(100% - 50px);

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      > div, .folders {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
      }

      .navigation {
        flex-grow: 2;
        border: 1px solid red;

        align-items: center;

        .folders {
          align-items: center;
          width: 100%;
        }

        p {
          margin: 15px -10px 15px 10px;
        }
      }

      .logins {
        flex-grow: 4;

        border: 1px solid blue;
      }

      .login {
        border: 1px solid green;
        //justify-content: flex-end;
        flex-grow: 10;
        flex-basis: 0;

        form {
          width: 25%;
          display: inline-block;

          input, textarea {
            width: 100%;
            margin: 8px;
          }
        }
      }
    }
  }
}
