.head {
  border-bottom: 1px solid $borderColor;
  width: 100%;
  height: 65px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  .head-links {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    > * {
      margin: 0 50px;
    }
  }

  img {
    width: 35px;
    margin: 5px 5px 5px 50px;
  }

  a {
    text-decoration: none;
    color: $white;
  }
}
