.vaults {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  .vault {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 50px;
    width: 300px;
    height: 300px;
    background-color: $black;
    color: $white;
    border: 1px solid $borderColor;
    cursor: pointer;

    p {
      margin: 10px;

      &.vault-description {
        font-size: 16px;
      }
    }

    transition: all 2s;

    &:hover {
      border-color: $white;
    }
  }
}
