.vaults {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  > div {
    width: 300px;
    height: 300px;
    margin: 50px;
  }

  .vault {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $black;
    color: $white;
    border: 1px solid $borderColor;
    cursor: pointer;

    p {
      margin: 10px;

      &.vault-description {
        font-size: 16px;
      }
    }

    transition: all 2s;

    &:hover {
      border-color: $white;
    }
  }

  .create-vault {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;

    img {
      width: 75px;
      cursor: pointer;
    }
  }
}
