@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

$black: #1d1d1d;
$white: #efefef;
$accountWhite: #d2d2d2;
$errorColor: #c75f5f;
$warningDeleteColor: #a82828;
$warningDeleteColorHover: #8b2f2f;

$hoverColor: #e1e1e1;
$hoverBackgroundColor: #232323;

$overlayBackgroundColor: #252525;

$borderColor: #646464;

$fontFamily: 'STIX Two Math', serif;
