{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div ref="words" data-words="sky, cloud, wood, rock, forest, mountain, breeze"></div>
    <div id="app">
        <app></app>
    </div>
{% endblock %}
